#cart-title{
	width: 1000px;
	margin: auto;
}
#cart-header{
	width: 1000px;
	height: 49px;
	margin: auto;
	margin-bottom: 9px;
}
#cart-header span{
	line-height: 49px;
}
#Inside-cart{
	width: 998px;
	height: 176px;
	margin: auto;
	border: 1px solid #dedede;
	background: #f8f8f8;
	margin-bottom: 20px;
	overflow: auto;
}
#Cookie-Goods{
	width: 1000px;
}
#Cookie-Goods th{
	width: 50px;
	height: 50px;
}
#Cookie-Goods td{
	text-align: center;
	width: 50px;
	height: 50px;
}
#goods-all{
	text-align: center;
}
#goods-all .del{
	color: #999;
	cursor: pointer;
}
#goods-all .del:hover{
	text-decoration: underline;
}
#Cookie-Goods td img{
	width: 40px;
	height: 40px;
}
#cart-gusee{
	width: 1000px;
	height:296px;
	margin: auto;
	margin-bottom: 12px;
}
#cart-foot{

	width: 1000px;
	height: 86px;
	border-top:1px solid #dedede;
	margin: auto;
	text-align: center;
}
#cart-foot span {
	font-size: 12px;
	color: #635e58;
	line-height: 86px;
}
.plus{
	cursor: pointer;
    width: 26px;
    height: 26px;
    line-height: 26px;
    background: #f0f0f0;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid #dedede;
    text-align: center;
}
.minus{
    width: 30px;
    height: 30px;
    line-height: 26px;
    background: #f0f0f0;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid #dedede;
    text-align: center;
    cursor: pointer;
}
.G-count{
	width: 30px;
    height: 22px;
    z-index: 2;
    border: 1px solid #dedede;
    padding: 2px 0;
    text-align: center;
    color: #343434;
}

